pkgbase = sonic-screenlocker
	pkgdesc = Library and components for Sonic-DE secure lock screen architecture
	pkgver = 6.6.5.2
	pkgrel = 2
	url = https://github.com/Sonic-DE/sonic-screenlocker
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = kcmutils
	makedepends = kdoctools
	depends = gcc-libs
	depends = glibc
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kdeclarative
	depends = ki18n
	depends = kidletime
	depends = kio
	depends = kirigami
	depends = knotifications
	depends = kpackage
	depends = ksvg
	depends = kxmlgui
	depends = libx11
	depends = libxcb
	depends = libxi
	depends = pam
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-screen-library
	depends = xcb-util-keysyms
	optdepends = kcmutils: configuration module
	provides = kscreenlocker
	conflicts = kscreenlocker
	source = sonic-screenlocker-6.6.5.2.tar.gz::https://github.com/Sonic-DE/sonic-screenlocker/archive/refs/tags/6.6.5.2.tar.gz
	source = kde.pam
	source = kde-fingerprint.pam
	source = kde-smartcard.pam
	sha256sums = a27ee17ab7e5469d9f75625cd194f739f645f235771092c0acd377e4bf8c3d76
	sha256sums = adba7bb7c27eb3a572e5e9d3cea0dbeebe59d3634472d1863d14fe892cb13b2b
	sha256sums = 32734b4e1ec8b7f7e32b6cb2d68285c5c4f15f53736bba085096e76095181241
	sha256sums = 5d9c31cbf66e8e455b9559c929f184efd598f714743d5a1e6ce20adb44dc4b2d

pkgname = sonic-screenlocker
