pkgbase = sonic-screenlocker
	pkgdesc = Library and components for Sonic-DE secure lock screen architecture
	pkgver = 6.6.4
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-screenlocker
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = kcmutils
	makedepends = kdoctools
	depends = gcc-libs
	depends = glibc
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kdeclarative
	depends = ki18n
	depends = kidletime
	depends = kio
	depends = kirigami
	depends = knotifications
	depends = kpackage
	depends = ksvg
	depends = kxmlgui
	depends = libx11
	depends = libxcb
	depends = libxi
	depends = pam
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-screen-library
	depends = xcb-util-keysyms
	optdepends = kcmutils: configuration module
	provides = kscreenlocker
	conflicts = kscreenlocker
	source = sonic-screenlocker-6.6.4.tar.gz::https://github.com/Sonic-DE/sonic-screenlocker/archive/refs/tags/6.6.4.tar.gz
	sha256sums = 8427e39838a43714040b3c9f6ac30d6d7676b7ef3975cdd5d0372a3199ea0e81

pkgname = sonic-screenlocker
